/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --page-title-color: #db00ff;
  --text-shadow-color: #FF0070;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --alt-text-color: #000028;
  --link-shadow-color: #ff0070;
  --decorative-elements: #FF0070;
  --navigation-color: #FF0070;
  --page-font: 'IBM Plex mono', monospace;
}

